node_modules/

bin/
dist/

KData/
publicDir/
publicStatic/

ColumnSchema/*.json
TableSchema/*.json

src/AllTables/WithSSR/SubTableSideBar/SourceCode/HtmlFiles
src/AllTables/WithSSR/SubTableSideBar/SourceCode/Js

src/Table/ShowFromJs/SourceCode/Js
src/Protected/Create/Static/SourceCode/Js
src/UnProtected/Create/Static/SourceCode/Js

src/Clients/Garmants/Mag/SourceCode/HtmlFiles
src/Clients/Garmants/Mag/SourceCode/Js

.env
.vscode
.log

defineConfig.js
