{% extends 'src/Table/ShowFromJs/SourceCode/Masters/simple.html' %}

{% block content %}
<div class="pagetitle">
    <h1 class="d-block d-sm-none">{{tableName}} ShowAll</h1>
    <h1 class="d-none d-sm-block"><a id="RefreshBSTableId">Show All</a></h1>
    <nav class="d-none d-sm-block">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Fixed-coloumns</li>
            <li class="breadcrumb-item">FilterByCollege</li>

            <li class="breadcrumb-item active">Show All</li>
        </ol>
    </nav>
</div>

<div class="spinner-border" id="SpinnerId" role="status" style="display: none;">
    <span class="visually-hidden">Loading...</span>
</div>

<table id="table">
</table>

<div class="modal fade" id="ShowImageModal" tabindex="-1" role="dialog" aria-labelledby="modal-notification"
    aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="ShowImageModalLabel">Show Image</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="" alt="" id="ShowImageId" width="700">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/bootstrap-table.min.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
<!-- <script type="module" src="../Js/pages/FixedColumns-FilterByCollege/StartFunc.js"></script> -->
<script type="module" src="../Js/pages/FixedColumns-FilterByCollege/StartFunc.js"></script>
{% endblock %}