{% extends 'src/Table/ShowFromJs/SourceCode/Masters/Simple.html' %}

{% block content %}
<div class="pagetitle">
    <h1 class="d-block d-sm-none">{{tableName}} ShowAll</h1>
    <h1 class="d-none d-sm-block"><a id="RefreshBSTableId">Show All</a></h1>
    <nav class="d-none d-sm-block">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">{{tableName}}</li>
            <li class="breadcrumb-item active">Show All</li>
        </ol>
    </nav>
</div>

<div class="spinner-border" id="SpinnerId" role="status" style="display: none;">
    <span class="visually-hidden">Loading...</span>
</div>


<div class="row">
    <div class="col-6">
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="formFile" placeholder="Recipient's username"
                accept="application/json" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-primary" type="button" id="UploadButtonId">Upload</button>
        </div>
    </div>
</div>

<table id="table">
</table>
{% endblock %}

{% block js %}
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.6/dist/extensions/export/bootstrap-table-export.min.js"></script>
<!-- <script type="module" src="../Js/pages/importFromCsv/StartFunc.js"></script> -->
<script type="module" src="../Js/pages/importFromCsv/StartFunc.js"></script>
{% endblock %}